div {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.event-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dfe8fa;

  img {
    width: 100%;
    height: auto;
  }

  .event-main {
    padding: 20px;

    .event-instructions {
      border-radius: 8px;
      color: #ffffff;

      .event-check {
        background-color: #3f51b5;
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 23px;
        position: relative;
        overflow: hidden;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          object-fit: contain;
          border-radius: 22.5px;
          opacity: 0.5;
          background-image: linear-gradient(105deg, #1f1f2c 0%, #15141b 47%, #0b0b0d 99%);

          border: solid 1px transparent;
          border-image: linear-gradient(to bottom, rgba(101, 101, 101, 0.2), rgba(157, 157, 157, 0.7)) 1 stretch;
        }

        .event-point-title {
          color: rgba(255, 255, 255, 0.6);
          font-size: 13px;
          margin-bottom: 10px;
        }

        .event-point {
          .event-point-anonymous {
            font-size: 22px;
          }

          .event-point-login {
            font-size: 28px;
          }

          .event-point-value {
          }
        }

        span {
          position: relative;
          z-index: 1;
        }
      }

      .event-opening-time {
        border-radius: 28px;
        font-size: 16px;
        margin-top: 16px;
        margin-bottom: 32px;

        .event-opening-time-btn {
          color: #fff;
          background-color: #000;
          font-size: 16px;
          width: 100%;
          border: none;
          padding: 15px 0;
          border-radius: 28px;
        }

        .not-exchange-btn {
          color: rgba(255, 255, 255, 0.2);
          background-color: rgba(48, 48, 55, 0.8);
        }
      }

      .event-redemption {
        p {
          font-size: 18px;
          font-weight: 400;
          padding: 3px;
        }

        text-align: center;
      }
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@800&display=swap');

  html {

    box-sizing: border-box ;
    --duration: .45s ;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1) ;
    --color-1: #d5dadd ;
    --color-2: #51d5c2 ;

  }

  html *,
  html *::before,
  html *::after {

    box-sizing: inherit ;

  }

  body {
    margin: 0 ;
    height: 100vh ;
    display: flex ;
    overflow: hidden ;
    align-items: center ;
    justify-content: center ;
    background-color: #F7EED3;

  }

  .vitals-header {
    position: fixed;
    top: 0;
  }

  .header-tab-nav-container{
    height: 7vh !important;
    overflow: hidden;
    background-color: #B7B7B7;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    width: 100vw;
  }

  .header-tab {
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 0 auto;
    transition: background 0.4s;
    p {
      font-size: 18px;
      font-weight: 500;
      text-align: center;
    }
  }

  .vitals-footer {
    position: fixed;
    bottom: 0;
    z-index: 9999;
  }

  .tab-nav-container{
    height: 10vh !important;
    overflow: hidden;
    background-color: #F7EED3;
    box-shadow:0 15px 10px rgba(0,0, 0, 0.16),
    0 3px 6px rgba(0,0, 0, 0.16);
    display: flex;
    padding: 30px;
    justify-content: space-between;
    width: 100vw;
  }

  .tab{
    background-color: #F7EED3;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin: 0 5px;
    transition: background 0.4s;
  }
  .tab i{
    font-size: 1.2em;
  }
  .tab p{
    font-weight: bold;
    overflow: hidden;
    max-width: 0;
  }
  .tab.active p{
    margin-left: 10px;
    max-width: 300vw;
    transition: max-width 0.3s linear;
  }
  .tab.active.purple{
    background-color: rgba(91,55, 183, 0.2);
    color: #6229FD;
  }
  .tab.active.pink{
    background-color: rgba(201,55, 157, 0.2);
    color: rgba(201,55, 157, 1);
  }
  .tab.active.yellow{
    background-color: rgba(230,169, 25, 0.2);
    color: #674636;
  }
  .tab.active.teal{
    background-color: rgba(28,150,162,0.2);
    color: rgba(28,150,162,1);
  }


  .vitals-home {
    margin: 5vh auto 7vh;

    p {
      font-family: "KBO-Dia-Gothic_bold", serif !important;
      font-size: 22px;
      font-weight: 700;
      text-align: left;
      color: #5A639C;
    }

    strong {
      font-family: "KBO-Dia-Gothic_bold", serif !important;
      font-size: 22px;
      font-weight: 700;
      text-align: left;
      color: #850F8D;
    }
  }

  .vitals-description {
    margin: 0 auto 7vh;

    p {
      font-family: "KBO-Dia-Gothic_bold", serif !important;
      font-size: 18px;
      font-weight: 700;
      text-align: left;
      color: #A28B55;
    }

    strong {
      font-family: "KBO-Dia-Gothic_bold", serif !important;
      font-size: 18px;
      font-weight: 700;
      text-align: left;
      color: #405D72;
    }
  }


  .vitals-swiper {
    width: 100% !important;


    margin: 0 auto 10vh;

    text-align: center;
    .vitals-swiper-image {
      width: 40vh !important;
      height: 40vh !important;
      border-radius: 22px;
    }

    .vitals-swiper-title {
      font-family: "KBO-Dia-Gothic_bold", serif !important;
      overflow: hidden;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
    }
  }

  .vitals-location {
    margin: 1vh 10vw 20vh;

    .vitals-location-text {
      strong {
        font-family: "KBO-Dia-Gothic_bold", serif !important;
        overflow: hidden;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
      }
      p {
        font-family: "KBO-Dia-Gothic_bold", serif !important;
      }
    }


    .vitals-maps {
      text-align: center;
      margin: 0 auto 10vh;

      .location-image {
        width: 80%;
        height: 80%;
      }

      .location-icons {
        margin-top: 2vh;
        display: flex;
        gap: 20vw;
      }

      .map-icon {
        width: 10% !important;
      }
    }
  }

  .vitals-info {
    margin: 5vh auto 10vh;

    p {
      font-family: "KBO-Dia-Gothic_bold", serif !important;
      font-size: 22px;
      font-weight: 700;
      text-align: left;
      color: #1A4870;
    }

    strong {
      font-family: "KBO-Dia-Gothic_bold", serif !important;
      font-size: 22px;
      font-weight: 700;
      text-align: left;
      color: #A02334;
    }
  }

  .vitals-info-ceo {
    margin: 1vh 10vw 20vh;
    text-align: left;
  }

  .vitals-info-ceo-text {
    strong {
      font-family: "KBO-Dia-Gothic_bold", serif !important;
      overflow: hidden;
      text-align: left;
      font-weight: bold;
      font-size: 30px;
    }

    p {
      font-family: "KBO-Dia-Gothic_bold", serif !important;
      font-size: 16px;

      .word-1 {
        font-family: "KBO-Dia-Gothic_bold", serif !important;
        color: #059212;
        font-size: 16px;
      }

      .word-2 {
        font-family: "KBO-Dia-Gothic_bold", serif !important;
        color: #543310;
        font-size: 16px;
      }

      .word-3 {
        font-family: "KBO-Dia-Gothic_bold", serif !important;
        color: #793FDF;
        font-size: 16px;
      }
    }

    .vitals-info-ceo-image-container {
      margin: 1vh 10vw;
      text-align: center;
    }

    .vitals-info-ceo-image {
      width: 50% !important;
    }
  }

}
